{% extends "base_layout.html" %}
{% block content %}
        <h1>Attendance record</h1>
        <p>Welcome to use Attendance record system</p>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Team</th>
                    <th scope="col">Win</th>
                    <th scope="col">lose</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>New York</td>
                    <td>10</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>Boston</td>
                    <td>9</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Toranto</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
            </tbody>
        </table>
{% endblock %}